<%= form_with(model: @profile, local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :name, "Nome", class: "form-label" %>
    <%= f.text_field :name, class: "form-control bg-secondary text-white border-0" %>
  </div>

  <div class="mb-3">
    <%= f.label :github_url, "URL perfil do GitHub", class: "form-label" %>
    <%= f.text_field :github_url, class: "form-control bg-secondary text-white border-0" %>
  </div>

  <div class="d-grid">
    <%= f.submit "Salvar Perfil", class: "btn btn-outline-light w-100" %>
  </div>
<% end %>
